:root {
    --bege: #f5efeb;
    --azul-cinza: #c8d9e6;
    --azul-claro: #567c8d;
    --azul-escuro: #2f4156;
}

body {
    background-color: var(--azul-cinza);
    color: var(--azul-escuro);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    h2 {
        font-size: 2.5em;
        padding: 0;
        margin: 0;
    }

    header {
        background-color: var(--azul-cinza);
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        top: 0;
        position: sticky;
        z-index: 2;
        
        
            a {
                color: var(--azul-escuro);
                text-decoration: none;

                &:hover {
                    color: var(--azul-claro);
                    transform: scale(1.05);
                    transition: transform 0.3s;
                }
            }

        .voltar{
            width: 10vh;
            left: 20px;
            position: absolute;

            a {
                text-decoration: none;
                color: var(--azul-escuro);
                font-weight: bold;
                font-size: 1.1em;
                display: flex;
                align-items: center;
            }

            &:hover {
                color: var(--azul-claro);
                transform: scale(1.05);
                transition: transform 0.3s;
            }
        }
    }

    main {
        background-color: var(--azul-claro);
        border-radius: 30px;

        .section-filmes {     
            margin-bottom: 5em;
            h2 {
                color: var(--bege);
                font-size: 3rem;
                padding: 2em;
            }
    
            .cards-filmes {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 2rem;
            }
    
            .card-filme {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                background: var(--bege);
                width: 325px;
                height: 590px;
                border-radius: 12px;
                padding: 2rem 1em;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
                img {
                    width: 280px;
                    height: 430px;
                    object-fit: cover;
                    border-radius: 15px;
                }
    
                h3 {
                    color: var(--texto);
                    font-size: 2em;
                }

                &:hover {
                    transform: scale(1.05);
                    transition: transform 0.3s;
                }

                .botoes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    margin-top: auto;
                    width: 100%;
                    a {
                        background-color: var(--azul-claro);
                        color: var(--bege);
                        text-decoration: none;
                        padding: 12px;
                        border-radius: 8px;
                    }
                }
            }
        }

        hr {
            width: 80%;
        }

        #trilogias {
            padding: 1em;
            
            h2 {
                color: var(--bege);
                text-align: center;
                font-size: 3rem;
                padding: 2em;
                margin: 0;
            }
            
            .trilogias-container {
                max-width: 1200px;
                width: 100%;
                margin: 0.8rem auto;
                padding: 0 20px;
            }
            
            .trilogia {
                display: none;
                width: 100%;
                padding: 40px 20px;
                position: relative;
                border-radius: 16px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: background-image 1.2s ease-in-out;
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.7);
                    border-radius: 16px;
                    z-index: 1;
                }

                &.slide1:active::before {
                    content: url(images/gotg-logo.png);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, 0.9);
                    z-index: 10;
                }
                &.slide2:active::before {
                    content: url(images/lotr-logo.png);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, 0.9);
                    z-index: 10;
                }
                &.slide3:active::before {
                    content: url(images/starwars-logo.jpg);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, 0.9);
                    z-index: 10;
                }
            
                
                .trilogia-cards {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    position: relative;
                    z-index: 2;
                }
            }
            
            .trilogia-card {
                width: 280px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 2rem 1em;
                border-radius: 15px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                
                &:hover {
                    transform: scale(1.05);
                    transition: transform 0.3s;
                }
            }
            
            .fade {
                animation: fade 1.2s ease-in-out;
            } 
        }
    }
    
    footer {
        background-color: var(--azul-escuro);
        color: var(--bege);
        text-align: center;
        padding: 10px 0;
        bottom: 0;
        height: 5vh;
    }
}