:root {
    --bege: #f5efeb;
    --azul-cinza: #c8d9e6;
    --azul-claro: #567c8d;
    --azul-escuro: #2f4156;
}

body {
    background-color: var(--bege);
    color: var(--azul-escuro);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    h2 {
        font-size: 2.5em;
        padding: 0;
        margin: 0;
    }
    span {
        text-decoration: underline;
        text-underline-offset: 11px;
    }

    header {
        background-color: var(--azul-cinza);
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        top: 0;
        position: sticky;
        z-index: 2;

        .logo {
            text-decoration: none;
            color: var(--azul-escuro);

            .titulo {
                line-height: 0.7ex;
            }

            &:hover {
                color: var(--azul-claro);
                transform: scale(1.05);
                transition: transform 0.3s;
            }
        }

        nav {
            a {
                text-decoration: none;
                color: var(--azul-escuro);
                font-weight: bold;
                font-size: 1.1em;
            }
            a:hover {
                color: var(--azul-claro);
                transform: scale(1.01);
                transition: transform 0.3s;
            }

            li {
                display: inline-block;
                margin-left: 15px;
            }
        }
    }

    hr {
        padding: 0;
        margin: 0;
        border: none;
        height: 1px;
        background-color: white;
    }

    main {

        #hero-section {
            background-color: var(--bege);
            height: 50vh;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;

            .apresentacao {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 20px;
                margin-top: 14vh;

                article {
                    max-width: 33vw;
                }

                aside {
                    img {
                        max-width: 20vw;
                        border-radius: 50%;
                        border: 4px solid var(--azul-escuro);
                    }
                }
            }
            
        }

        #curiosidades {
            background: linear-gradient(to bottom, var(--bege), var(--azul-cinza));
            height: 50vh;
            padding: 40px 20px;
            
            .curiosidades-container {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            .lista-curiosidades {
                margin-top: 2rem;
                padding-left: 20px;
            }
        }

        #jogos {
            .banner {
                left: 0;
                top: 0;
                position: relative;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
                border-radius: 12px;
            }
            
            .center {
                position: absolute;
                inset: 0;
                background-image: url('images/overwatch.jpg');
                background-size: cover;
                background-position: center;
                z-index: 1;
            }
            
            .panel {
                position: absolute;
                top: 0;
                width: 30%;
                height: 100%;
                background: #e73883;
                color: white;
                z-index: 2;
                display: flex;
                align-items: center;
                padding: 20px;
                box-sizing: border-box;
                transform: skewX(-12deg);
            }
            
            .panel > div {
                transform: skewX(12deg);
            }
            
            .left {
                left: -40px;
            }
            .right {
                right: -40px;
                transform: skewX(12deg);
            }
            .right > div {
                transform: skewX(-12deg);
            }
        }

        #ja-visitei {
            background: linear-gradient(to bottom, var(--azul-cinza), var(--azul-claro));
            height: 50vh;
            padding: 40px 20px;
            padding-bottom: 16vh;

            .cards-lugares {
                display: flex;
                justify-content: space-around;
                list-style-position: inside;
                margin-top: 2rem;
                padding: 0;
            }
            
            .card-lugar {
                background: var(--bege);
                border-radius: 12px;
                padding: 1rem;
                width: 250px;
                text-align: center;
                color: var(--azul-escuro);
                position: relative;
            
                &::marker {
                    color: var(--azul-escuro);
                    position: relative;
                    left: 0;
                }
            
                a {
                    text-decoration: none;
                    color: var(--azul-escuro);
                    font-weight: bold;
                }
            
                img {
                    width: 100%;
                    border-radius: 8px;
                    margin-top: 0.5rem;
                }

                &:hover {
                    transform: scale(1.05);
                    transition: transform 0.3s;
                }
            }
        }

        #desejo-conhecer {
            background-color: var(--azul-claro);
            height: 50vh;
            padding: 40px 20px;
            padding-bottom: 16vh;

            h2 {
                color: var(--bege);
            }

            .cards-lugares {
                display: flex;
                justify-content: space-around;
                list-style: upper-alpha inside;
                margin-top: 2rem;
                padding: 0;
            }
            
            .card-lugar {
                background: var(--bege);
                border-radius: 12px;
                padding: 1rem;
                width: 250px;
                text-align: center;
                color: var(--azul-escuro);
                position: relative;
            
                &::marker {
                    color: var(--azul-escuro);
                    position: relative;
                    left: 0;
                }
            
                a {
                    text-decoration: none;
                    color: var(--azul-escuro);
                    font-weight: bold;
                }
            
                img {
                    width: 100%;
                    border-radius: 8px;
                    margin-top: 0.5rem;
                }

                &:hover {
                    transform: scale(1.05);
                    transition: transform 0.3s;
                }
            }
        }
    }

    footer {
        background-color: var(--azul-escuro);
        color: var(--bege);
        text-align: center;
        padding: 10px 0;
        bottom: 0;
        height: 5vh;
    }
}